# Vercel Postgres — wird automatisch gesetzt wenn du eine Vercel Postgres DB verknüpfst
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Admin-Passwort für den /admin Bereich
ADMIN_PASSWORD=dein-geheimes-passwort
